.inverse{
    background-color: black;
    color: white;

}
img{
    position: relative;
    border: solid;
    left: 100px;
    z-index: -5;
    display: inline;
    background-color: lightblue;
}

#tidur_pikachu{
    background-color: pink;
}

h2{
    font-weight: bold;
    color: red;
}
p.habit{
    color: brown;
}
p {
    color: red;
    color: blue;
    z-index: 10;
}

.title>p{
}
.title h2{
}
.title div{
    height: 100px;
    width: 300px;
    display: inline;
    background-color: lightblue;
}



